@font-face {
  font-family: 'Potra';
  src: local('Potra'), url(./assets/fonts/potra/Potra.ttf) format('truetype');
}

@font-face {
  font-family: 'Armwarmer';
  src: local('Armwarmer'), url(./assets/fonts/armwarmer/Armwarmer.otf) format('truetype');
}

@font-face {
  font-family: 'Drugs';
  src: local('Drugs'), url(./assets/fonts/drugs/Drugs.otf) format('truetype');
}

/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Styles */

body{
  min-height: 100vh;
  min-height: 100ww;
  position: relative;
  overflow: hidden;
}

main{
  width: 100vw;
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style-type: none;
}

li:hover {
  text-shadow: 0 0 3px #CC9B54;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  padding-right: 10px;
}

button {
  font-family: 'Drugs';
  font-size: 14px;
  text-align: center;
  outline: none;
  color: #CC9B54 !important;
  border: 1px solid #CC9B54;
  border-radius: 5px;
  background-color: transparent;
  height: 30px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

button:hover {
  box-shadow: 0 0 10px #CC9B54;
}

.btn-text {
  font-family: 'Drugs';
  color: #CC9B54;
  text-decoration: none;
}

/* Loading Page Styles */

.load-img-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.t {
  height: 25vh;
}

/* Nav Styles */

header {
  width: 100vw;
  height: 7vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-nav {
  font-family: 'Potra';
  text-decoration: none;
  color: #CC9B54;
  font-size: 3.5vh;
  margin-left: 10px;
}

/* Homepage Styles */

.home-section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.title-home {
  font-family: 'Potra';
  color: #CC9B54;
  text-shadow: 0 0 10px #CC9B54;
  font-size: 6vh;
  margin-bottom: 2rem;
}
.get-reading-link{
  color: #CC9B54;
  text-decoration: none;
}

/* Sign Up & Login Styles */

.form-header {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: 'Armwarmer';
  color: white;
  margin: 0;
}

.login-signup-form {
  background-color: black;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.signup-login {
  font-family: 'Drugs';
  text-decoration: none;
  color: #CC9B54;
  font-size: 2vh;
}

input {
  font-family: 'Drugs';
  font-size: 15px;
  text-align: center;
  outline: none;
  color: #CC9B54 !important;
  border: 1px solid #CC9B54;
  border-radius: 3px;
  background-color: transparent;
  height: 28px;
  width: 250px;
  margin: 20px 0 0;
}

input:hover {
  box-shadow: 0 0 10px #CC9B54;
}

input:-webkit-autofill {
  background-color: transparent !important;
}

::placeholder {
  color: #CC9B54;
}

.sign-in-btn {
  margin-top: 30px;
}

/* Reading Messages Styles */

.reading-messages {
  font-family: 'Drugs';
  color: #CC9B54;
  text-transform: lowercase;
  text-shadow: 0 0 10px #CC9B54;
  text-align: center;
}

/* Card Detail Styles */

.detail-section {
  width: 100vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.detail__header {
  font-family: 'Drugs';
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 0.25em;
  margin: 0;
  color: #cc9c549a;
  padding: 5vh 0 0 0.25em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5rem;
}
.card__slider--container{
    width: 100%;
    height: 100%;
    position: relative;
}
.card{
    margin: 1rem 0;
    width: 300px;
    height: 420px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped{
    transform: rotateY(180deg);
}

.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__face--back{
    background: #fff;
    color: #CC9B54;
    transform: rotateY(180deg);
   
}
.card__desc__head{
  font-family: 'Armwarmer';
  color: rgba(24, 23, 23, 0.863);
  font-weight: normal;
}
.underline{
  width: 80%;
  height: 2px;
  background-color: rgba(199, 199, 199, 0.418);
  margin: 0 auto 1rem auto;
}
.card__body{
  font-size: 1.3rem;
  line-height: 2;
  letter-spacing: 2px;
  padding: 1rem;
  text-align: center;
  color: rgb(119, 119, 119);

}

.card__slider__btn__container{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
    background: transparent;
    display: flex;
    justify-content: space-between;
}
.btn{
  width: 40px;
  height: 40vh;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .2s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background-color: black;
}
.btn:hover{
 box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.prev {
  border-radius: 0 3px 3px 0;
}

.prev .arrow {
  transform: scaleX(-1);
}

.next {
  border-radius: 3px 0 0 3px;
}

.arrow {
  height: 3vh;
}
.outside__btns{
    margin-top: 2rem;
}
.outside__btns button{
  margin-right: 12px;
}

/* End of card details */


/* Dashboard page */

.dashboard-container {
  height: 93vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.user {
  font-family: 'Drugs';
  font-size: 30px;
  text-transform: lowercase;
  text-align: center;
  color: #CC9B54;
  margin: 2rem 0;
  /* position: fixed; */
}

.card-container {
  width: 90vw;
  height: 30vh;
  background: black;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.5); 
  box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
  margin-bottom: 20px;
}

.card-container-center {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.reading-date{
  font-family: 'Drugs';
  text-align: center;
  color: #CC9B54;
  font-size: 0.75rem;
  margin-top: 5px;
  letter-spacing: 4px;
  text-decoration: none !important;
}

.cards{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
}

img{
  height: 80%;
  margin: 10px;
}

img:nth-child(2){
  margin: 0 10px;
}