@font-face {
  font-family: 'Potra';
  src: local('Potra'), url(./assets/fonts/potra/Potra.ttf) format('truetype');
}

@font-face {
  font-family: 'Armwarmer';
  src: local('Armwarmer'), url(./assets/fonts/armwarmer/Armwarmer.otf) format('truetype');
}

@font-face {
  font-family: 'Drugs';
  src: local('Drugs'), url(./assets/fonts/drugs/Drugs.otf) format('truetype');
}

/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Styles */

body{
  min-height: 100vh;
  min-height: 100ww;
  position: relative;
}

main{
  width: 100vw;
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style-type: none;
}

li:hover {
  text-shadow: 0 0 3px #CC9B54;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  padding-right: 10px;
}

button {
  font-family: 'Drugs';
  font-size: 15px;
  text-align: center;
  outline: none;
  color: #CC9B54 !important;
  border: 1px solid #CC9B54;
  border-radius: 5px;
  background-color: transparent;
  height: 30px;
  width: 200px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 10px #CC9B54;
}

.btn-text {
  font-family: 'Drugs';
  color: #CC9B54;
  text-decoration: none;
}

/* Loading Page Styles */

.load-img-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.t {
  height: 25vh;
}

/* Nav Styles */

header {
  width: 100vw;
  height: 7vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-nav {
  font-family: 'Potra';
  text-decoration: none;
  color: #CC9B54;
  font-size: 3.5vh;
  margin-left: 10px;
}

/* Loading Page Styles */

.load-img-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.t {
  height: 25vh;
}

/* Homepage Styles */

.home-section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.title-home {
  font-family: 'Potra';
  color: #CC9B54;
  text-shadow: 0 0 20px #CC9B54;
  font-size: 6vh;
  margin-bottom: 2rem;
}
.get-reading-link{
  color: #CC9B54;
  text-decoration: none;
}

/* Sign Up & Login Styles */

.form-header {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: 'Armwarmer';
  color: white;
  margin: 0;
}

.login-signup-form {
  background-color: black;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.signup-login {
  font-family: 'Drugs';
  text-decoration: none;
  color: #CC9B54;
  font-size: 2vh;
}

input {
  font-family: 'Drugs';
  font-size: 15px;
  text-align: center;
  outline: none;
  color: #CC9B54 !important;
  border: 1px solid #CC9B54;
  border-radius: 3px;
  background-color: transparent;
  height: 28px;
  width: 250px;
  margin: 20px 0 0;
}

input:hover {
  box-shadow: 0 0 10px #CC9B54;
}

input:-webkit-autofill {
  background-color: transparent !important;
}

::placeholder {
  color: #CC9B54;
}

.sign-in-btn {
  margin-top: 30px;
}

/* Card Detail Styles */

section {
  width: 100vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-header {
  font-family: 'Drugs';
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 0.25em;
  margin: 0;
  color: #cc9c549a;
  padding: 5vh 0 0 0.25em;
}

.slider-container {
  width: 100vw;
  height: 65vh;
  position: relative;
  overflow: hidden;
}

.image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-img {
  object-fit: cover;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 90%;
  background-color: black;
  padding: 3px;
}

.slider-btn-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider-btn {
  width: 40px;
  height: 40vh;
  background-color: black;
  border: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.slider-btn:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.prev {
  border-radius: 0 3px 3px 0;
}

.prev .arrow {
  transform: scaleX(-1);
}

.next {
  border-radius: 3px 0 0 3px;
}

.arrow {
  height: 3vh;
}

/* Dashboard page */

.dashboard-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  font-family: 'Drugs';
  font-size: 40px;
  text-transform: lowercase;
  color: #CC9B54;
  margin: 2rem 0;
}

.card-container {
  width: 90vw;
  height: 40vh;
  background: #000;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.5); 
  box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

.card-container-center {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  /* padding: 1rem 0; */
}

.reading-date{
  font-family: 'Drugs';
  text-align: center;
  color: #CC9B54;
  font-size: 1.2rem;
  margin-top: 1rem;
  letter-spacing: 4px;
}

.cards{
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img{
  max-width: 300px;
  height: 400px;
}

img:nth-child(2){
  margin: 0 10px;
}
